---
layout: content.hbs
title: Page 2
menu_item: page-2
---
<article>
    <header>
        <h1>Page 2</h1>
    </header>
    <section>
        <h2>Title 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eius itaque aperiam, possimus fuga, error suscipit ducimus minus eos dolorem dicta ratione nemo repellat ut nobis ea, voluptas sapiente alias?</p>
    </section>
</article>

