---
layout: slide.hbs
layout_main_class: content
---
<!-- Main Content Area -->
<div class="main-content">

	<div class="content-area">
		{{> body}}
	</div>
</div>
<!-- End Main Content Area -->

<!-- Footer Menu -->
<div class="main-menu">
	{{> menu}}
</div>
<!-- End Footer Menu -->